In [1]:
import pandas as pd

In [2]:
f=pd.DataFrame({
    'Weather':['Sunny','Rainy','Sunny','Sunnny'],
    'Wind':['Mild','Mild','High','Mild'],
    'Temp':['Moderate','Mild','Moderate','Mild'],
    'go':['Yes','No','Yes','Yes']
})

In [3]:
from sklearn.naive_bayes import GaussianNB

In [4]:
x=f.iloc[:,:-1]
y=f.iloc[:,-1]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
Weather_enc=LabelEncoder()
x["Weather_encoded"]=Weather_enc.fit_transform(x["Weather"])
x

  Weather  Wind      Temp  Weather_encoded
0   Sunny  Mild  Moderate                2
1   Rainy  Mild      Mild                0
2   Sunny  High  Moderate                2
3  Sunnny  Mild      Mild                1

In [7]:
Wind_enc=LabelEncoder()
x["Wind_encoded"]=Wind_enc.fit_transform(x["Wind"])
x

  Weather  Wind      Temp  Weather_encoded  Wind_encoded
0   Sunny  Mild  Moderate                2             1
1   Rainy  Mild      Mild                0             1
2   Sunny  High  Moderate                2             0
3  Sunnny  Mild      Mild                1             1

In [8]:
Temp_enc=LabelEncoder()
x["Temp_encoded"]=Temp_enc.fit_transform(x["Temp"])
x

  Weather  Wind      Temp  Weather_encoded  Wind_encoded  Temp_encoded
0   Sunny  Mild  Moderate                2             1             1
1   Rainy  Mild      Mild                0             1             0
2   Sunny  High  Moderate                2             0             1
3  Sunnny  Mild      Mild                1             1             0

In [9]:
X=x.iloc[:,3:]
X

   Weather_encoded  Wind_encoded  Temp_encoded
0                2             1             1
1                0             1             0
2                2             0             1
3                1             1             0

In [10]:
y

0    Yes
1     No
2    Yes
3    Yes
Name: go, dtype: object

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y)

In [13]:
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(3, 3) (3,) (1, 3) (1,)

In [14]:
naive_bayes_model=GaussianNB()
naive_bayes_model.fit(xtrain,ytrain)

GaussianNB()

In [15]:
ypred=naive_bayes_model.predict(xtest)

In [16]:
ytest

3    Yes
Name: go, dtype: object

In [17]:
from sklearn.metrics import accuracy_score

In [18]:
acc_score=accuracy_score(ytest,ypred)*100
print(acc_score)

0.0

In [35]:
df=pd.read_csv('Iris.csv')

In [36]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
X=df.iloc[:,:-1]
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [22]:
y=df.iloc[:,-1]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y)

In [25]:
model=GaussianNB()

In [26]:
model.fit(xtrain,ytrain)

GaussianNB()

In [27]:
ypred=model.predict(xtest)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy=accuracy_score(ytest,ypred)*100

In [30]:
print(accuracy)

100.0