In [20]:
import pandas as pd

In [21]:
df=pd.read_csv('Social_Network _Ads.csv')

In [22]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [23]:
X=df.iloc[:,1:-1]
X.head()

   Gender  Age  EstimatedSalary
0    Male   19            19000
1    Male   35            20000
2  Female   26            43000
3  Female   27            57000
4    Male   19            76000

In [24]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
X["Gender"]=enc.fit_transform(X['Gender'])
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [25]:
y=df['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y)

In [28]:
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(300, 3) (300,) (100, 3) (100,)

In [29]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.transform(xtest)

In [30]:
from sklearn.svm import SVC

In [31]:
model=SVC()
model.fit(xtrain,ytrain)

SVC()

In [32]:
ypred=model.predict(xtest)

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
ytest

86     0
17     1
90     0
89     0
96     0
      ..
285    1
331    1
313    1
34     0
49     0
Name: Purchased, Length: 100, dtype: int64

In [52]:

acc_score=accuracy_score(ytest,ypred)*100

In [58]:
acc_score

89.0